[Unit]
Description=nodejs server

[Service]
User=nodejs
WorkingDirectory={{ server_file.files[0].path | dirname }}
ExecStart=/usr/bin/node server.js
Restart=on-failure
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs

[Install]
WantedBy=multi-user.target
